# Intermediate files
*.o
*.la
*.lo
*.slo
*.dSYM

# Client tests and other binaries
client/src/*.d
client/src/generate
client/src/libdefiantclient.a
client/src/libdefiantclient.so
client/src/defiantclient.dylib
client/src/random_test
client/src/test
client/src/tests/captcha_test
client/src/tests/collections_test
client/src/tests/fetch_tester
client/src/tests/generate
client/src/tests/key_test
client/src/tests/make_request
client/src/tests/nep_test
client/src/tests/onion_test
client/src/tests/outguess_test
client/src/tests/random_file
client/src/tests/random_test
client/src/tests/test
client/src/tests/test_64
client/src/tests/test_bf
client/src/tests/test_cookie
client/src/tests/test_crc
client/src/tests/test_requests
client/src/tests/tool
client/src/tests/trial
client/src/tests/web
client/src/tests/*.dSYM/
client/src/tool
client/src/tools/*.dSYM/
client/src/tools/check_onion_file
client/src/tools/defiantmasterkey_generator
client/src/tools/defiantmasterkey_info
client/src/tools/defiantparams_check
client/src/tools/defiantparams_generator
client/src/tools/defiantparams_info
client/src/tools/defiantpkg_generator
client/src/tools/defiantpkg_info
client/src/tools/defiantpkg_sql
client/src/tools/fetcher
client/src/tools/generate_onion_file
client/src/tools/generate_request
client/src/tools/validate_onion
client/src/trial
client/src/web
client/tools/captcha/build/
client/tools/captcha/dist/

# Freedom
freedom/.libs/
freedom/mod_freedom.loT

# Onion Factory
onionfactory/server/index.html
onionfactory/server/test_onion_server
onionfactory/server/test_sql
onionfactory/server/check_onion_file
onionfactory/server/collections_test
onionfactory/server/generate_onion_file
onionfactory/server/onion_test
onionfactory/server/captcha_test

# Outguess
outguess/Makefile
outguess/config.h
outguess/config.h.in
outguess/config.log
outguess/config.status
outguess/extract
outguess/histogram
outguess/jpeg-6b-steg/libjpeg.a
outguess/outguess
outguess/outguess.exe
outguess/configure
outguess/jpeg-6b-steg/Makefile
outguess/autom4te.cache/
outguess/jpeg-6b-steg/config.log
outguess/jpeg-6b-steg/config.status
outguess/jpeg-6b-steg/jconfig.h

# thttpd
thttpd/Makefile
thttpd/build-stamp
thttpd/autom4te.cache/
thttpd/cgi-src/Makefile
thttpd/cgi-src/phf
thttpd/cgi-src/redirect
thttpd/cgi-src/ssi
thttpd/config.cache
thttpd/config.log
thttpd/config.status
thttpd/config.guess
thttpd/config.sub
thttpd/debian/files
thttpd/debian/*log
thttpd/debian/thttpd-util/
thttpd/debian/*debhelper
thttpd/debian/*substvars
thttpd/debian/thttpd/
thttpd/extras/Makefile
thttpd/extras/htpasswd
thttpd/extras/makeweb
thttpd/mime_encodings.h
thttpd/mime_types.h
thttpd/patch-stamp
thttpd/thttpd
thttpd/ltmain.sh

# Debian intermediate
debian/files
debian/*.substvars
debian/*.debhelper.log
debian/saferdefiance-mod-freedom/
debian/saferdefiance-onion-factory/
debian/saferdefiance-outguess/
debian/saferdefiance-wedge/

# QTapp - mostly generated by qmake
app/Makefile
app/Makefile.Debug
app/Makefile.Release
app/release/
app/build/
app/object_script.rendezvous.Debug
app/object_script.rendezvous.Release
app/rendezvous
app/outguess

# Wedge
wedge/bin/*
wedge/build/
wedge/jpeg-6b/cjpeg
wedge/jpeg-6b/djpeg
wedge/jpeg-6b/jpegtran
wedge/jpeg-6b/*.a
wedge/jpeg-6b/rdjpgcom
wedge/jpeg-6b/wrjpgcom

# jel
jel/build/
jel/jpeg-6b/cjpeg
jel/jpeg-6b/djpeg
jel/jpeg-6b/jpegtran
jel/jpeg-6b/*.a
jel/jpeg-6b/rdjpgcom
jel/jpeg-6b/wrjpgcom
jel/Makefile
jel/Makefile.in
jel/aclocal.m4
jel/autom4te.cache/
jel/config-aux/compile
jel/config-aux/config.guess
jel/config-aux/config.sub
jel/config-aux/depcomp
jel/config-aux/install-sh
jel/config-aux/missing
jel/config.log
jel/config.status
jel/configure
jel/debian/autoreconf.after
jel/debian/autoreconf.before
jel/debian/saferdefiance-jel.debhelper.log
jel/debian/saferdefiance-jel.substvars
jel/debian/saferdefiance-jel/
jel/jblock
jel/jel.pc
jel/jhist
jel/jpeg-6b/.deps/
jel/jpegtran
jel/jquant
jel/libjel.a
jel/libjel/.deps/
jel/libjel/.dirstamp
jel/libjpeg.a
jel/rscode/.deps/
jel/unwedge
jel/utils/.deps/
jel/utils/.dirstamp
jel/wcap
jel/wedge
saferdefiance-jel_0.1_amd64.changes
saferdefiance-jel_0.1_amd64.deb

